[submodule "client"]
	path = client
	url = https://github.com/patrick-ogrady/client
[submodule "eth"]
	path = eth
	url = https://github.com/patrick-ogrady/eth
[submodule "circuits"]
	path = circuits
	url = https://github.com/patrick-ogrady/circuits.git
[submodule "packages"]
	path = packages
	url = https://github.com/patrick-ogrady/packages
